@model IEnumerable<MVCMusicStoreApplication2.Models.Genre>

<div id="searchresults">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>
