@model IEnumerable<EventProject.Models.Event>

    <div id="searchresults">


            @foreach (var item in Model)
            {

            <ul>
                @Html.ActionLink(item.EventTitle, "Register", new { id = item.EventId })
            </ul>

            }


 
    </div>



