
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="Links">
    <ul>
        <li><a href="">Find an Event</a></li>

       <li>@Html.ActionLink("Organize", "Organize", "EventHome")</li>

        <li><a href="#">Orders</a></li>
    </ul>
</div>